name: Docs - Github Pages
on:
  push:
    branches:
      - main
      - release-2.0 # TODO: remove after V2 is merged to main
    paths:
      - docs/**
      - book.toml

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup mdBook
        uses: peaceiris/actions-mdbook@v2
        with:
          mdbook-version: "0.5.2"

      - run: mdbook build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs-dist
          publish_branch: docs
