name: Release
on:
  workflow_run:
    workflows: [Test]
    types: [completed]
    branches: [main]
  workflow_dispatch: # allow manual deployment through GitHub Action UI
jobs:
  version-check:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'workflow_dispatch' || github.event.workflow_run.conclusion == 'success' }}
    outputs:
      changed: ${{ steps.check.outputs.any_changed }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4
      - name: Check if version has been updated
        id: check
        uses: tj-actions/changed-files@70069877f29101175ed2b055d210fe8b1d54d7d7 # v44
        with:
          files: lib/blueprinter/version.rb
  release:
    runs-on: ubuntu-latest
    needs: version-check
    if: ${{ github.event_name == 'workflow_dispatch' || needs.version-check.outputs.changed == 'true' }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@d697be2f83c6234b20877c3b5eac7a7f342f0d0c # v1
        with:
          ruby-version: 3.2
          bundler-cache: true
      - name: Installing dependencies
        run: bundle check --path=vendor/bundle || bundle install --path=vendor/bundle
      - name: Build gem file
        run: bundle exec rake build
      - uses: fac/ruby-gem-setup-credentials-action@5f62d5f2f56a11c7422a92f81fbb29af01e1c00f # v2
        with:
          user: ""
          key: rubygems
          token: ${{secrets.RUBY_GEMS_API_KEY}}
      - uses: fac/ruby-gem-push-action@81d77bf568ff6659d7fae0f0c5a036bb0aeacb1a # v2
        with:
          key: rubygems
